html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* border: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

body {
  height: 100%;
  background-color: darkslategray;
  color: springgreen;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 8px 15px 8px 15px;
}

header {
  position: sticky;
  z-index: 0;
  top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  display: flex;
  font-size: x-large;
}

h1:hover {
  color: cyan;
}

.menu {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.menu button {
  color: springgreen;
  background-color: darkslategray;
  border-radius: 5px;
  border: 2px solid springgreen;
  padding: 5px;
}

.menu button:hover {
  color: cyan;
  background-color: darkcyan;
  border: 2px solid cyan;
}

main {
  width: 100%;
}

.form-container {
  position: sticky;
  z-index: 1;
  top: 45px;
  background-color: darkslategray;
  border-radius: 5px 5px 15px 15px;
  border: 2px solid springgreen;
  display: flex;
  flex-direction: column;
}

form#add-book {
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 20px 5px 10px;
  padding-right: 15px;
  padding-left: 15px;
}

form #title {
  grid-column: 1 / 3;
}

form #author {
  grid-column: 3 / 5;
}

form #pages {
  grid-column: 1 / 2;
}

form #category {
  grid-column: 2 / 4;
}

label#label-completed {
  padding: 0px 5px 0px;
}

form #completed {
  grid-column: 4 / 5;
  margin-right: 5px;
}

button#btn-save {
  width: 100%;
  background-color: darkslategray;
  color: springgreen;
  font-size: large;
  font-weight: 900;
  height: 50px;
  border-radius: 0px 0px 12px 12px;
  border: none;
  border-top: 1px solid springgreen;
  margin-top: 10px;
}

button#btn-save:hover {
  background-color: darkcyan;
  color: cyan;
  border-top: 1px solid cyan;
}

button#btn-save:active {
  background-color: springgreen;
  color: darkcyan;
  border-top: 1px solid cyan;
}

.form-container:hover {
  border: 2px solid cyan;
}

.form-container:hover button#btn-save {
  border-top: 1px solid cyan;
}

form label {
  text-align: end;
}

form input {
  flex: 1;
  height: 25px;
  background-color: darkslategray;
  color: springgreen;
  border: 1px solid springgreen;
  border-radius: 5px;
  caret-color: whitesmoke;
  padding: 5px;
}

form input:focus {
  background-color: darkcyan;
  outline: none;
}

form .checkbox-container {
  background-color: darkslategray;
  color: springgreen;
  border: 1px solid springgreen;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}

form .checkbox-container:active {
  background-color: darkcyan;
}

form .checkbox-container > label {
  flex: 0.5;
  font-size: small;
}

form input[type="checkbox"] {
  height: 25px;
  border-radius: 5px;
  justify-self: end;
  padding: 0px;
  margin: 0px;
}

form input[type="checkbox"]:focus {
  outline: none;
}

.table-container {
  overflow-x: auto;
  overflow-y: auto;
}

::placeholder {
  color: springgreen;
  opacity: 0.5;
}

.toggle-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle-form #btn-plus,
.toggle-form #btn-minus {
  height: 40px;
  fill: springgreen;
  margin-top: -7px;
}

.toggle-form #btn-plus:hover,
.toggle-form #btn-minus:hover {
  fill: cyan;
}

.hidden {
  display: none;
}

.visible {
  display: revert;
}

table {
  width: max(500px, 100%);
  font-size: 14px;
  margin: 0px 0px 10px;
}

th {
  color: springgreen;
  background-color: darkslategray;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid springgreen;
  padding-top: 10px;
  padding-bottom: 10px;
}

.th-title,
.td-title {
  /* width: 25%; */
  text-align: start;
  /* padding-left: 15px; */
}

.th-author,
.td-author {
  /* width: 15%; */
  text-align: start;
  /* padding-left: 15px; */
}

.th-pages,
.td-pages {
  /* width: 8%; */
  text-align: end;
  /* padding-right: 15px; */
}

.th-category,
.td-category {
  /* width: 12%; */
  text-align: center;
  /* padding-left: 15px; */
}

.th-completed,
.td-completed {
  /* width: 8%; */
  text-align: center;
}

.th-remove,
.td-remove {
  /* width: 5%; */
  font-size: larger;
  text-align: center;
  color: salmon;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 13px;
}

.th-remove svg {
  height: 20px;
}

.completed-toggle {
  cursor: pointer;
  background-color: none;
  color: springgreen;
  border: 2px solid springgreen;
  border-radius: 5px;
  padding: 3px 5px 3px;
  transition-property: color border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

.completed-toggle.read {
  color: silver;
  border: 2px solid silver;
  transition-property: color border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

tr {
  color: springgreen;
  transition-property: color border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

tr.read {
  color: silver;
  transition-property: color border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

.remove-button:hover {
  cursor: pointer;
}

td:active {
  background-color: darkcyan;
  color: greenyellow;
}

tr:active .completed-toggle {
  border: 2px solid cyan;
}

td {
  text-align: start;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid springgreen;
}
